.cities {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 80%;
	margin: 30px auto;

	&__main-title {
		display: grid;
		grid-template-areas: '. text text text add';

		&__text {
			grid-area: text;
			text-align: center;
			text-align-last: center;
		}

		&__add {
			grid-area: add;
			justify-self: end;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	&__weather {
		padding: 5px 30px;
		border: 2px solid pink;
		width: 260px;
		line-height: 5px;

		&__title {
			text-align: center;
		}
	}

	&__current-weather {
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		row-gap: 20px;
		margin-bottom: 40px;
	}
}
