.cities {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 80%;
	margin: 30px auto;

	&__main-title {
		display: grid;
		grid-template-areas: '. text text text add';
		grid-template-columns: repeat(5, 1fr);

		&__text {
			grid-area: text;
			text-align: center;
			text-align-last: center;
		}

		&__add {
			grid-area: add;
			justify-self: end;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	&__weather {
		padding: 5px 30px;
		border: 2px solid #2dabf9;
		border-radius: 15px;
		background: aliceblue;
		width: 260px;
		line-height: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		&__title {
			display: flex;

			&__text {
				flex-grow: 1;
				text-align: center;
			}
		}
	}

	&__current-weather {
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		row-gap: 20px;
		margin-bottom: 40px;
	}
}
