.header {
	display: grid;
	grid-template-areas: 'logo title icons';
	grid-auto-columns: 1fr 2fr 1fr;
	padding: 30px;
	border-bottom: 2px solid darkgray;

	@media only screen and (max-width: 600px) {
		display: flex;
		flex-direction: column;
	}

	&__logo {
		margin: auto;
		object-fit: contain;
		grid-area: logo;
	}

	&__title {
		text-align: center;
		text-align-last: center;
		grid-area: title;
	}

	&__icons {
		display: flex;
		justify-content: space-evenly;
		overflow: hidden;
		grid-area: icons;

		> a {
			margin: auto 0;
		}
	}

	&__icon {
		width: 30px;
		object-fit: contain;
	}
}
