.new-city-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 300px;

	&__field {
		display: grid;
		grid-template-columns: 2fr 5fr;
		grid-column-gap: 10px;
	}

	&__input {
		height: 32px;

		&--bordered {
			border: 1px solid lightgray;
			font-size: 16px;
			padding-left: 10px;
		}
	}

	&__label {
		margin: auto 0;
	}

	&__error {
		color: red;
		margin: 15px auto 0 auto;
		font-size: 12px;
	}

	&__submit {
		margin: 15px auto auto auto;

		&:disabled {
			filter: grayscale(100%);
			cursor: not-allowed;
		}
	}

	&__title {
		text-align: center;
		text-align-last: center;
		margin: 5px auto 30px auto;
	}
}
